* {
    background: aqua;
}

#container {
    border: 5px solid aqua;
    width: 760px;
    height: 410px;
    position: absolute;
    box-sizing: border-box;
    margin: auto;
}

#top {
    position: absolute;
    z-index: 2;
    width: 375px;
    overflow: hidden;
}

#bottom {
    position: absolute;
    z-index: 1;
}

img {
    width: 750px;
    height: 400px;
}

#bar {
    height: 400px;
    width: 10px;
    background-color: aqua;
    position: absolute;
    z-index: 3;
    left: 0%;
}

#ventana {
    color: white;
    position: absolute;
    top: 400px;
    left: 440px;
    font-family: arial;
    font-size: 40px;
}
